.App {
  text-align: center;
  background-color: #252839;
  height: 100vh;
  width: 100vw;
	overflow: auto;
}

.ui.header.game-title {
  padding-top: 15px;
}

.game-content {
  width: 40%;
  margin: auto;
}


.column {
  display: flex !important;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 192px;
}

.empty-space {
  width: 80%;
	height: 80%;
	background-color: #495285;
	cursor: pointer;
	margin: auto;
}

.game-over .empty-space {
  cursor: default;
	background-color: initial;
}

.winning-space {
  color: green;
}
